doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title TrustPool
    // bootstrap core css
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    // custom css
    link(href='/css/landing-page.css', rel='stylesheet')
    // custom fonts
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
    // html5 shim and respond.js ie8 support of html5 elements and media queries
    // warning: respond.js doesn't work if you view the page via file://
    //if lt ie 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // navigation
    nav.navbar.navbar-default.navbar-fixed-top.topnav(role='navigation')
      .container.topnav
        // brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.topnav(href='#') Admin
      // /.container
    // header
    a(name='services')
    .content-section-a
      .container
        .row
          h3 Process Refunds
          .col-lg-10.col-sm-10
            table.table
              caption Event status
              thead
                tr
                  th #
                  th Email
                  th Paid deposit
                  th Checked in
                  th Amount deposited
                  th Expected refund
              tbody
                each attendee in attendees
                  tr
                    th(scope='row') #{attendee.id}
                    td=attendee.email
                    if attendee.paid
                      td Yes
                    else
                      td No

                    if attendee.checkedIn
                      td Yes
                    else
                      td No

                    if attendee.paid
                      td $5
                    else
                      td $0

                    if attendee.checkedIn
                      td $#{earnPerPerson}
                    else
                      td $0

        .row
            h3 Process Refunds
            p
              != '<button class="btn btn-danger">Close event and process refunds</button>'

    // footer
    footer
      .container
        .row
          .col-lg-12
            ul.list-inline
              li
                a(href='#') home
              li.footer-menu-divider ⋅
              li
                a(href='#about') about
              li.footer-menu-divider ⋅
              li
                a(href='#services') services
              li.footer-menu-divider ⋅
              li
                a(href='#contact') contact
            p.copyright.text-muted.small copyright © your company 2014. all rights reserved
    // jquery
    script(src='/js/jquery.js')
    // bootstrap core javascript
    script(src='/js/bootstrap.min.js')
